* {
	margin: 0;
	padding: 0;
}

.height40 {
	height: 40vh;
}

.height24 {
	height: 24.84vh;
}

.text {
	align-items: center;
	justify-content: center;
}

.flex {
	display: flex;
}

.direction {
	flex-direction: column;
}
